html
	head
		title Save Zip codes to db
		link(href="vendor/bootstrap/dist/css/bootstrap.css", rel="stylesheet", type="text/css")
	body
		.container
			form(method="post", action="/zip/add")
				input.form-control(name="codes", type="text", placeholder="Paste Codes here")
				input.btn(type="submit", value="Save Codes")
			br
			br
			a.btn.btn-primary.btn-wd(href="/ptin/havoc") Go get them
			script(src="vendor/jquery/jquery.js")
			script(src="vendor/bootstrap/dist/js/bootstrap.js")