html
	head
		title Get Phone Numbers 
		link(href="vendor/bootstrap/dist/css/bootstrap.css", rel="stylesheet", type="text/css")
	body
		.container
			.row(style="margin-top:25px")
				.col-md-6
					a.btn.btn-primary.btn-wd(href="/ptin/havoc") Go get them NOWW!
		script(src="vendor/jquery/jquery.js")
		script(src="vendor/bootstrap/dist/js/bootstrap.js")
					